body {
    font-family: "Open Sans";
    margin: auto;
}

h1 {
    text-align: center;
}

#container {
    margin: 0px auto;
    width: 640px;
    height: 1000px;
    padding: 5px;
    border: 10px #333 solid;
    overflow: auto;
}

form {
    margin: auto;
}

fieldset {
    padding: 20px;
    display: inline-block;
    margin: auto;
}

input[type="radio"] {
    margin-left: 20px;
    border: 1px solid #888;
}

input[type="button"] {
    margin: auto;
    text-align: center;
}

#videoElement {
    background-color: #666;
    width: 640px;
    height: 480px;
}

#canvas-parent * {
    position: absolute;
}