body {
  /* font-family: "Open Sans"; */
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  /* display:inline-block; */
}

body > div {
  margin: auto;
  width: 60%;
  overflow: auto;
}

h1 {
  text-align: center;
}

h2 {
  width: 700px;
  border: 4px solid red;
  border-radius: 10px;
  background-color: #ff9966;
  color: red;
  text-align: center;
  padding: 5px;
  margin: auto;
}

h2 > a {
  text-decoration: none;
  border: 1px solid red;
  padding: 2px;
  border-radius: 10px;
}

h2 > a:hover {
  border: 1px ridge red;
  background-color: white;
}

#container1 {
  margin: 0px auto;
  width: 640px;
  height: 535px;
  padding: 5px;
  border: 4px #333 solid;
  border-radius: 10px;
  float: left;
}

.start-stop {
  margin-top: 15px;
}

.start-stop > a {
  background-color: aqua;
  border: 2px ridge black;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  margin: 5px;
}

.start-stop :last-child {
  right: 40px;
}

#canvas-parent {
  /* position: absolute; */
  display: grid;
  grid-template: 1fr / 1fr;
}

#canvas-parent > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#captureCanvas {
  z-index: 1;
}

#videoElement {
  background-color: #666;
  width: 640px;
  height: 480px;
  z-index: 2;
}

#drawCanvas {
  z-index: 3;
}

#container2 {
  margin: 10px;
  width: 300px;
  height: 300px;
  border: 4px solid #333;
  border-radius: 10px;
  float: right;
}

#container2 > h4 {
  padding-left: 15px;
  margin-top: 15px;
}

#container2 > #analytics > p {
    padding-left: 15px;
    margin-top: 5px;
}

/* form {
    margin: auto;
}

fieldset {
    padding: 20px;
    display: inline-block;
    margin: auto;
}

input[type="radio"] {
    margin-left: 20px;
    border: 1px solid #888;
}

input[type="button"] {
    text-align: center;
} */


