<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Facial Expression Detection</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>

<body>
  <h1>Facial Expression Detection</h1>
  <div id="container">
    <form name="form">
      <div>
        <fieldset>
          <legend>Select Device</legend>
          <label><input type="radio" name="device" id=1 value="PC" onclick="checkCamera()" checked>PC</label>
          <label><input type="radio" name="device" id=2 value="Mobile" onclick="checkCamera()">Mobile</label>
        </fieldset>
        <fieldset>
          <legend>Select Camera</legend>
          <label><input type="radio" name="camera" id=3 disabled onchange="flipCamera()">Front Camera</label>
          <label><input type="radio" name="camera" id=4 disabled onchange="flipCamera()">Rear Camera</label>
        </fieldset>
        <br>
        <br>
        <input type="button" id=5 value="Start Camera" onclick="startCamera()">
        <input type="button" id=6 value="Stop Camera" onclick="stopCamera()">
      </div>
    </form>
    <br>
    <video controls id="videoElement" onpause=""></video>
    <br>
    <canvas id="myCanvas" onclick="downloadFrame()"></canvas>
  </div>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>